<template>
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <strong>CaderRanker</strong>
      </a>
      <a role="button" @click="toggleBurger" :class="burgerClasses" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div @click="close" :class="{'navbar-start': true, 'navbar-menu': true, 'is-active': isActive }">
      <router-link to="/" class="navbar-item">
        Home
      </router-link>
  
      <router-link to="/collection" class="navbar-item">
        Manage Collection
      </router-link>
      <router-link :to="{name: 'doRanking'}" class="navbar-item">
        Rank Collection
      </router-link>
      <router-link :to="{name: 'cadeys'}" class="navbar-item">
        Cadey's Challenge Archive
      </router-link>
      <router-link :to="{name: 'faq'}" class="navbar-item">
        Evercade FAQ
      </router-link>
    </div>
    <div :class="{'navbar-end': true, 'navbar-menu': true, 'is-active': isActive }">
      <div class="navbar-item">
        <a class="button is-info" href="https://ko-fi.com/nromdotcom" target="_blank">
          <strong>Ko-Fi Me</strong>
        </a>
      </div>
    </div>
  </nav>
  </template>
  
  <script setup>
  import { computed, ref } from 'vue'

  defineProps({
    user: {
      type: Object,
      required: true
    }
  })
  defineEmits(['login-logout'])
  
  const isActive = ref(false)
  function toggleBurger () {
    isActive.value = !isActive.value
  }
  function close () {
    isActive.value = false
  }
  const burgerClasses = computed(() => {
    const classes = ['navbar-burger']
    if (isActive.value) classes.push('is-active')
    return classes
  })
  </script>
  
  <style scoped>
  nav {
    border-bottom: 1px solid black;
  }
  
  .router-link-active {
    font-weight: bold;
    color: #003eaa;
    text-decoration: underline;
  }
  </style>