<template>
  <footer class="footer" style="padding-bottom:10px;">
    <div class="content has-text-centered">
      <p>
        <strong>CaderRanker</strong> by @nromdotcom.
        Find the source <a href="https://gitlab.com/nromdotcom/caderranker">on gitlab</a>. Feel
        free to hit me up on the Evercade discord, though tbh I don't check my message requests
        very often.
      </p>
      <p>
        <strong>Note:</strong> This is an entirely unofficial Evercade, uh, site...
        tool...thing and is not at all affiliated with Blaze Entertainment or Evercade.
      </p>
    </div>
  </footer>
</template>