<template>
  <section class="section">
    <h1 class="title">Cadey's Challenge Archive</h1>
    <h2 class="subtitle">What is Cadey's Challenge?</h2>
    <p>
      Cadey's Challenge is a weekly game competition in
      <a href="https://discord.com/invite/bBPbfsK" target="_blank">
        the Evercade Discord.
      </a>
    </p>
    <p>
      Cadey's Challenge is organized into 10-week seasons, typically with a two
      week break between seasons. Each week, the organizer randomly selects a
      random game from a random cart and sets four tresholds:
      
      <ul class="ul-medals">
        <li class="li-plat">Platinum</li>
        <li class="li-gold">Gold</li>
        <li class="li-silver">Silver</li>
        <li class="li-bronze">Bronze</li>
      </ul>
    </p>
    <p>
      Bronze, Silver, and Gold medals can be earned by anyone who reaches the
      defined threshold (score, progress, etc). Most weeks, only one Platinum
      medal is available.
    </p>
    <p>
      At the end of the week, points are awarded to players based on their
      medal level: 1, 2, 3, or 4 points. Then, at the end of the season,
      the player with the most points wins.
    </p>
  </section>
  <section class="section">
    <h2 class="subtitle">Cadey's Challenge Archive</h2>
 
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Filter By Season</label>
      </div>
      <div class="field-body">
        <div class="select is-normal">
          <select v-model="filterSeason">
            <option v-for="season of seasons" :value="season" :key="season">Season {{ season }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Filter By Cart</label>
      </div>
      <div class="field-body">
        <div class="select is-normal">
          <select v-model="filterCart">
            <option v-for="cart of carts" :value="cart" :key="cart">{{ cart }}</option>
          </select>
        </div>
      </div>
    </div>
    <Vue3EasyDataTable
      :headers="data.headers"
      :items="filteredItems"
      :alternating="true"
      :rows-items="[]"
      :rows-per-page=10
    >
      <template #item-num="item">{{ item.season }}.{{ item.week }}</template>
      <template #item-challenge="item">
        <p>{{ item.challenge }}</p>
        <ul class="ul-medals">
          <li v-for="medal of item.medals" :key="medal.name" :class="`li-${medal.name}`">
            {{ medal.description }}
          </li>
        </ul>
        <p v-if="'class' in item">🧐 Class Bonus: {{ item.class }}</p>
      </template>
    </Vue3EasyDataTable>
  </section>
</template>

<script setup>
import { computed, reactive, ref, watch } from 'vue'
import Vue3EasyDataTable from 'vue3-easy-data-table';
import 'vue3-easy-data-table/dist/style.css';
import cadeys from '@/data/cadeys.json'

const data = reactive({
  headers: [
    { text: '#', value: 'num', sortable: true },
    { text: 'Cart', value: 'cart', sortable: true },
    { text: 'Game', value: 'game', sortable: true },
    { text: 'Challenge', value: 'challenge' }
  ]
})

const filteredItems = computed(() => {
  return cadeys
    .filter(c => {
      if (filterSeason.value === 'All') return true
      return c.season === filterSeason.value
    })
    .filter(c => {
      if (filterCart.value === 'All') return true
      return c.cart === filterCart.value
    })
})
const seasons = computed(() => {
  return ['All', ...new Set(cadeys.map(c => c.season))]
})
const filterSeason = ref('All')

const carts = computed(() => {
  return ['All', ...new Set(filteredItems.value.map(c => c.cart))].sort()
})
const filterCart = ref('All')
watch(filterSeason, () => {
  filterCart.value = 'All'
})



</script>

<style scoped>
  .ul-medals {
    list-style-type: none;
    line-height: 1.12;
    margin-left: 0px;
  }
  li:not(:last-child) {
    margin-bottom: 7px;
  }
  .li-class::before {
    content: "🧐 "
  }
  .li-plat::before {
    content: "🏆 "
  }
  .li-gold::before {
    content: "🥇 "
  }
  .li-silver::before {
    content: "🥈 "
  }
  .li-bronze::before {
    content: "🥉 "
  }

  ul {
    padding-bottom: 10px;
  }
</style>