<template>
  <section class="section">
    <h3 class="subtitle">Manage Collection</h3>
    <p>
      Use the below table to specify which carts you wish to rank. By default, all carts
      are selected and included in the ranking exercise. Your collection is currently
      persisted to your browser storage, but will not persist across devices.
    </p>
    <p>
      Once you've configured your collection, hit "Rank Collection" to begin the ranking
      exercise.
    </p>
    <p>
      <strong>Note:</strong> Once complete, your rankings are persisted to the server with
      a unique identifier and URL that can be shared etc. These rankings cannot currently
      be updated or edited later, and for now you should be aware that these may be cleared
      at any time in service of new features.
    </p>
    <div class="content has-text-centered">
      You have {{ data.selected ? data.selected.length : 0 }} games in your collection.<br/>
      <router-link :to="{name: 'doRanking'}" class="button">Rank Collection</router-link>
    </div>
    <div class="level">
      <div class="level-item">
        <Vue3EasyDataTable
          v-model:items-selected="data.selected"
          :headers="data.headers"
          :items="data.carts"
          alternating
        >
        <template #item-img="{ img }">
          <img :src="img" class="icon"/>
        </template>
        <template #item-name="cart">
          <a :href="cart.url" target="_blank">{{ cart.name }}</a>
        </template>
        </Vue3EasyDataTable>
      </div>
    </div>
  </section>
</template>

<script setup>
import { reactive, onMounted, watchEffect } from 'vue'
import { useCartStore } from '@/stores/cartStore'
const cartStore = useCartStore()

import Vue3EasyDataTable from 'vue3-easy-data-table';
import 'vue3-easy-data-table/dist/style.css';

const data = reactive({
  carts: cartStore.carts,
  selected: null,
  headers: [
    { text: '', value: 'img' },
    { text: 'Name', value: 'name' }
  ]
})

watchEffect(() => {
  if (data.selected !== null) cartStore.updateCollection(data.selected)
})

onMounted(() => {
  data.selected = cartStore.collection
})

</script>

<style>
/* Bulma does some bad stuff to easy-data-table! Let's undo it. */
table td, table th, .content table td, .content table th {
  vertical-align: middle !important;
}
</style>