<template>
  <article class="section">
    <h2 class="title">
      So You've
      <s>Ruined Your Life</s>
      Gotten Into Evercade.
    </h2>

    <div v-for="faq in faqs" :key="faq.name">
      <component :is="faq"/>
    </div>
  </article>
</template>

<script setup>
import faqs from '@/components/faq/index.js'
</script>

<style>
.markdown-body {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}
.markdown-body > h1 {
  font-size: x-large;
}
.markdown-body > h2 {
  font-size: large;
}
.markdown-body {
  margin-bottom: 10px;
}
</style>
