<template>
  <section class="section">
    <article class="message is-info">
      <div class="message-header">
        <p>Welcome and note!</p>
      </div>
      <div class="message-body">
        This is an <strong>unofficial</strong> and fun little personal project
        and not at all affiliated with Evercade or Blaze Entertainment.
      </div>
    </article>
    <p>
      There are, like, 50+ Evercade carts out there these days!
      What do you do when someone asks you "what are the best carts???" If you're anything like me,
      you probably just go completely blank and have no idea what to recommend. 
    </p>
    <p>
      Well what if, in 200+ easy steps, you could get your complete and
      "<a href="https://en.m.wikipedia.org/wiki/Merge_sort" target="_blank">scientifically-accurate</a>"
      cart ranking? Would you do it? Cause here's your opportunity.
    </p>

    <router-link to="collection" class="button is-primary is-medium">Try it out</router-link>
  </section>
</template>

<script setup>
</script>

<style scoped>
</style>