<template>
  <div v-if="data.left && data.right && data.sortedCarts.length === 0" class="section">
    <h1>Round {{ data.round }} of...lots</h1>
    <p style="text-align: center; font-size: large;">
      Ranking <strong>{{ cartStore.collection.length }}</strong> carts!
    </p>
    <p style="text-align: center; font-size: large;">
      To rank a subset of carts, please <router-link to="collection">manage your collection</router-link> and then return to this page.
    </p>

    <div class="grid-container">
      <CartListing
        :cart="data.left"
        side-class="left"
        @choose="choose"/>
      <h1 class="grid-item-or" style="padding-top: 50%; padding-bottom: 0px;">OR</h1>
      <CartListing
        :cart="data.right"
        side-class="right"
        @choose="choose"/>
    </div>
  </div>

  <div v-if="data.err !== ''">
    <div class="section">
      <p>
        It looks like you have fewer than 2 carts! How do you expect to rank them?
      </p>
      <p>
        Please <router-link to="collection">manage your collection</router-link> to add at least 2 carts then come back!
      </p>
    </div>
  </div>
</template>
  
<script setup>
import { onMounted, reactive } from 'vue'
import { useRouter } from 'vue-router'
const router = useRouter()

import CartListing from '@/components/ranking/CartListing.vue'
import useMergeSort from '@/mixins/useMergeSort'

import { useCartStore } from '@/stores/cartStore'
const cartStore = useCartStore()
import { useRankingStore } from '@/stores/rankingStore'
const rankingStore = useRankingStore()

const data = reactive({
  round: 0,
  left: null,
  right: null,
  selectionPromiseResolve: null,
  sortedCarts: [],
  rankingId: '',
  err: ''
})

function choose(side) {
  data.selectionPromiseResolve(side)
}

function getUserChoice(left, right) {
  data.round += 1
  data.left = left
  data.right = right
  return new Promise((r) => {
    data.selectionPromiseResolve = r
  })
}

onMounted(async () => {
  // Reset ranking
  data.round = 0
  data.left = null
  data.right = null
  data.selectionPromiseResolve = null
  data.rankingId = ''
  data.err = ''

  const coll = cartStore.collection
  if (!coll || coll.length < 2) {
    data.err = 'Nope!'
  } else {
    const sortedCarts = await useMergeSort(cartStore.collection, getUserChoice)
    
    const rankingId = await rankingStore.saveRanking(sortedCarts.reverse())
    router.push({
      name: 'viewRanking',
      params: {
        rankingId
      }
    })
  }
})
</script>
  
<style>
.grid-container {
  display: grid;
  grid-template-columns: 40% 10% 40%;
  gap: 10px 10px;
}

.grid-item-title.left {
  grid-column: 1;
  grid-row: 1;
}

.grid-item-title.right {
  grid-column: 3;
  grid-row: 1;
}

.grid-item-image.left {
  grid-column: 1;
  grid-row: 2;
}

.grid-item-or {
  grid-column: 2;
  grid-row: 2
}

.grid-item-image.right {
  grid-column: 3;
  grid-row: 2;
}

.grid-item-games.left {
  grid-column: 1;
  grid-row: 3;
}

.grid-item-games.right {
  grid-column: 3;
  grid-row: 3;
}

h1 {
  text-align: center;
}
</style>
  