<template>
  <div v-if="data.loading">
    <article class="section">
    <h3>Loading...</h3>
    </article>
  </div>
  <div v-else-if="!data.loading && data.error">
    <article class="section">
      <h3>Unable to load ranking!</h3>
      <p>Error: {{ data.error }}</p>
      <p>Try another id or <router-link :to="{name: 'home'}">start over</router-link>.</p>
    </article>
  </div>
  <div v-else>
    <ViewRanking
      :sorted-carts="data.sortedCarts"
    />
  </div>
</template>

<script setup>
import ViewRanking from '@/components/ranking/ViewRanking.vue'
import { onMounted, reactive, watchEffect } from 'vue'
import { useRoute } from 'vue-router'
const route = useRoute()

import { useCartStore } from '@/stores/cartStore'
import { useRankingStore } from '@/stores/rankingStore'
const cartStore = useCartStore()
const rankingStore = useRankingStore()

const data = reactive({
  loading: false,
  error: false,
  sortedCarts: []
})

async function loadRanking () {
  data.loading = true
  const rankingId = route.params.rankingId
  try {
    const ranking = await rankingStore.getRanking(rankingId)
    const carts = cartStore.carts

    data.sortedCarts = ranking.map(r => {
      return carts.find(c => c.name === r)
    })
  } catch (err) {
    data.error = err.message
  } finally {
    data.loading = false
  }
}

watchEffect(() => route.params.rankingId, async () => {
  loadRanking()
})

onMounted(async () => {
  loadRanking()
})

</script>

<style scoped>
</style>