<template>
  <div
    :class="['has-text-centered', 'grid-item-title', sideClass]"
  >
    <span style="font-size: large; font-weight: bold;">{{ cart.name }}</span>
  </div>
  <div :class="['grid-item-image', sideClass]">
    <CdnImage
      :src="cart.img"
      
      :title="cart.name"
      :alt="cart.name"
      width="100%"
      @click="$emit('choose', cart.name)"
    />
  </div>
  <div :class="['grid-item-games', sideClass]">
    <ul>
      <li v-for="game in cart.games" :key="game.name">
      <div><strong>{{ game.name }}</strong> - {{ game.desc }}</div>
      </li>
    </ul>
  </div>
</template>

<script setup>
import CdnImage from '@/components/util/CdnImage.vue'

defineProps({
  cart: {
    type: Object,
    required: true
  },
  sideClass: {
    type: String,
    required: true
  }
})

defineEmits(['choose'])
</script>

<style scoped>
img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

img {
  transition: transform 300ms ease-in-out;
}

ul {
  list-style-type: none;
  line-height: 1.12;
  margin-left: 0px;
}

li:not(:last-child) {
  margin-bottom: 10px;
}

</style>