<template>
  <article class="section">
    <h3 class="has-text-centered">Your Rankings</h3>
    <ol class="grid-list">
      <li v-for="cart in sortedCarts" style="font-size: large;" :key="cart.name">
        <CdnImage :src="cart.img" width="32px" />
        {{ cart.name }}
      </li>
    </ol>
  </article>
</template>

<script setup>
import CdnImage from '../util/CdnImage.vue';

defineProps({
  sortedCarts: {
    type: Array,
    required: true
  }
})
</script>

<style scoped>
@media (max-width: 1022px) {
  .grid-list {
    margin-left: auto; margin-right: auto; width: 70%;
  }
}
@media (min-width: 1023px) {
  .grid-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1215px) {
  .grid-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1216px) {
  .grid-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
</style>