<template>
  <img ref="imgRef" :src="useCdn(src)" :onerror="fallbackImage"/>
</template>

<script setup>
// By default, this will use the Netlify CDN to get the image.
// If we can't get the image from the CDN for some reason, get
// the image directly.

import { ref, watch } from 'vue'

const props = defineProps({
  src: {
    type: String,
    required: true
  }
})

const fallenBack = ref(false)
// Vue magic to fetch the HTML element with "ref=[varName]"
const imgRef = ref()

// When the src prop is updated we want
// to allow fallback again, so we'll
// set the guard to false and re-add the
// onerror hanler
watch(() => props.src, () => {
  fallenBack.value = false
  imgRef.value.onerror = fallbackImage
})

// The CDN is doing a bad for some reason,
// so let's try the original image
function fallbackImage (ev) {
  // We want to avoid getting into a fallback loop
  // so we'll keep track of if we've already fallen
  // back.
  if(!fallenBack.value) {
    fallenBack.value = true
    // Prevent fallback loop by clearing the element's
    // onerror property and set the src to the non-cdn url.
    ev.onerror = null
    ev.srcElement.src = props.src
  }
}

// Construct a Netlify CDN url for the given direct URL.
// Technically we don't need it fully-qualified, but the
// JS URL object requires one so :shrug:
function useCdn (path) {
  const cdnUrl = new URL(`${window.location.protocol}//${window.location.host}`)
  cdnUrl.pathname = '/.netlify/images'
  cdnUrl.searchParams.set('url', path)
  cdnUrl.searchParams.set('w', 300)
  cdnUrl.searchParams.set('q', 75)
  return cdnUrl.toString()
}
</script>