<template>
  <NavBar :user="data.user" @login-logout="login" />
  <div class="content container" style="padding-top: 25px;">
    <RouterView />
  </div>
  <PageFooter />
</template>

<script setup>
import { onMounted, reactive } from 'vue'
import NavBar from '@/components/layout/NavBar.vue'
import PageFooter from './components/layout/PageFooter.vue';
import { init, open } from '@/mixins/useLogin'

const data = reactive({
  user: {}
})

onMounted(() => {
  init((user) => {
    data.user = user || {}
  }, () => {
    data.user = {}
  })
})

function login() {
  open()
}
</script>

<style scoped>
</style>
